h1 {
  position: relative;
  padding: 0.25em 0;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
h2 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #001858; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
}
h3 {
  font-size: medium;
}
.list{
  margin: 30px;
}
.setumei{
  margin-top: 10px;
  margin-bottom: 50px;
}
.spli{
  margin-bottom: 50px;
}
.danraku {
   margin-top: 40px; 
}
th {
  background: #e9727e;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
}
td {
  border: solid 1px #ccc;
  padding: 10px;
}
.tblist {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .tblist {
    width: 90%;
  }
  .tblist tr {
    display: block;
    float: left;
  }
  .tblist tr td, 
  .tblist tr th {
    border-left: none;
    display: block;
    height: 150px;
  }
  .tblist thead {
    display: block;
    float: left;
    width: 30%;
  }
  .tblist thead tr {
    width: 100%;
  }
  .tblist tbody {
    display: block;
    float: left;
    width: 70%;
  }
  .tblist tbody tr {
    width: 50%;
  }
  .tblist tr td + td {
    border-left: none;
  }
  .tblist tbody td:last-child {
    border-bottom: solid 1px #ccc;
  }
}
.photo {
  width:100%;
  max-width: 100%;
  height: auto;
}