/*header*/
*{
  box-sizing: border-box;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a{
  display: block;
  color: #fff;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
ul.menu li a:hover{
  text-decoration: none;
  color: #001858;
  background-color: #8bd3dd;
  transition: .3s;
}
ul.menu{
  width: 100%;
  display: flex;
}
ul.menu > li{
  width: 25%;
}
ul.menu > li > a{
  background-color: #001858;
  border-right: 1px solid #f3d2c1;
}
ul.menu > li > ul{
  display: none;
}
ul.menu li:hover a + ul{
  display: block;
}
ul.menu > li > ul > li > a{
  width: 100%;
  background-color: #001858;
  border-top: 1px solid #fff;
}
.head {
  width: 80%;
  max-width: 1200ms;
  margin-left: auto;
  margin-right: auto;

}




  /*body*/

  body{
    background-color: #f3d2c1;
  }

  .container{
    width: 80%;
    max-width: 1200ms;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    background-color: white;
  }

  .nakami{
    padding: 30px;
  }


  /*footer*/
  *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .contents {
    min-height: 100vh;
    margin: auto;
    padding: 1em 0 10em 0;
    background: rgb(236, 240, 241);
  }
  footer #button {
    position: relative;
    width: 10em;
    height: 2em;
    margin: 0 auto;
    padding: 0.2em;
    cursor: pointer;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
    text-align: center;
    color: #f3d2c1;
    border-radius: 3px 3px 0px 0px;
    background: #001858;
  }
  footer #button:hover {
    position: relative;
    width: 10em;
    height: 2em;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 1.5em;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  footer:hover {
    height: 10em;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  footer #container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001858;
  }
  footer #cont {
    margin: 0 auto;
    padding: 1em;
    color: #f3d2c1;
  }
  footer .copyright {
    float: left;
    width: 50%;
  }
  footer .copyright p {
    font-size: 0.7em;
    line-height: 2em;
    padding-left: 10%;
    letter-spacing: 1px;
    color: #ffffff;
  }


  /* index */

  #logo2 {
    text-align: center;
  }


  .howtophoto {
    border: 3px solid #8bd3dd;
}